.dashboard-container {
  margin-left: 25px;
  margin-right: 25px;
}

.header-wrapper.no-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow-x: auto; 
  white-space: nowrap;
  gap: 20px;
  padding: 10px;
}

.logo {
  width: 30%;
}

.picked {
  color: red;
  font-weight: bold;
}

.team-container {
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  width: 50px;
  height: auto;
}

.team-name {
  font-size: 14px;
  margin-top: 5px;
}

.icon-text-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin-top: 10px;
}

.over-text {
  font-size: 14px;
}

.pick-bubble {
  font-weight: bold;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.accordion-button {
  justify-content: center !important;
}

.accordion-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

