.dashboard-container {
  margin-left: 25px;
  margin-right: 25px;
}

.header-wrapper.no-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow-x: auto; 
  white-space: nowrap;
  gap: 20px;
  padding: 10px;
}

.logo {
  width: 30%;
}

.team-container {
  width: 300px;            
  height: 150px;           
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 12px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.total {
  color: rgb(156, 156, 156);
  padding: 10px;
}

.team-name {
  font-size: .8rem;
  font-weight: 600;
  margin-top: 5px;
}

.picked {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
  background-color: #1976d25c;
  border-radius: 12px;
}

.logo {
  width: 50px;
  height: auto;
}

.icon-text-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.over-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.gotw-picked {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
  background-color: rgba(212, 175, 55, 0.25);
  border: 1.5px solid #D4AF37;
  border-radius: 12px;
}
