.bet-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .bet-btn.selected {
      background-color: gold; 
      color: black;
  }
  
@media (max-width: 768px) {
    .bet-btn {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    .bet-btn.selected {
        background-color: gold; 
        color: black;
    }
    
    .bet-btn.selected:disabled {
        background-color: gold;
        color: black; 
    }
    
    .table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .table thead {
      display: none;
    }

    .table tbody {
        display: block;
        text-align: center;
    }
  
    .table tbody tr {
      display: block;
      margin-bottom: 10px;
      border-bottom: 2px solid #dee2e6;
    }
  
    .table td {
      display: block;
      text-align: center;
      padding: 8px;
      position: relative;
      border-bottom: 1px solid #dee2e6;
    }
  
    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 8px;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  