.s1-cell {
  width: 80%;
}

.s2-cell {
  width: 20%;
}

.first {
  background-color: gold !important;
}

.second {
  background-color: silver !important;
}

.third {
  background-color: brown !important;
}

@media (max-width: 768px) {
  .s-row {
    display: flex !important;
    flex-direction: row !important;
  }
}