.ph1-cell {
  width: 25%;
}

.ph2-cell {
  width: 65%;
  text-wrap: auto;
}

.ph3-cell {
  width: 10%;
}

#back {
  margin: 10px;
  width: 20%;
}

@media (max-width: 768px) {
  .ph-row {
    display: flex !important;
    flex-direction: row !important;
  }

  #back {
    width: 40%;
  }
}